/*------Main-----*/
body{
    background-image: url('/static/img/background-image.jpg') ;
    background-size: cover;
}
/*------NavBar-----*/
nav a, nav h2{
    color:#fff !important;
}
.navbar-default{
    background-color: #3d195b;
    border-color:#3d195b;
}
.navbar .container-fluid{
    justify-content: flex-end !important;
}
.logo{
    width:100px;

}
.navbar-brand h2{
    font-size: 35px;
}
.navbar-brand img{
    margin-top: -10px;
    margin-right: 10px;
}
.nav-item{
    padding: 0 10px;
}
.navbar-nav a{
    font-size: 17px;
}
.navbar-brand img, .navbar-brand h2{
    display: inline-block;
}
.dropdown-menu{
    background-color:#3d195b;
    border-color:#3d195b;
}

.dropdown{
        padding-top: 8px;

}
/*--Hover--*/
.dropdown-menu .arsenal-link:hover{
    background-color:#ef0107;
    border-color:#ef0107;
}
.dropdown-menu .aston-villa-link:hover{
    background-color:#7A003C;
    border-color:#7A003C;
}
.dropdown-menu .bournemouth-link:hover{
    background-color:#DA291C;
    border-color:#DA291C;
}
.dropdown-menu .brighton-link:hover{
    background-color:#005daa;
    border-color:#005daa;
}
.dropdown-menu .burnley-link:hover{
    background-color:#f8b319;
    border-color:#f8b319;
}
.dropdown-menu .chelsea-link:hover{
    background-color:#034694;
    border-color:#034694;
}
.dropdown-menu .crystal-palace-link:hover{
    background-color:#034694;
    border-color:#034694;
}
.dropdown-menu .everton-link:hover{
    background-color:#003399;
    border-color:#003399;
}
.dropdown-menu .leicester-link:hover{
    background-color:#0053a0;
    border-color:#0053a0;
}
.dropdown-menu .liverpool-link:hover{
    background-color:#C8102E;
    border-color:#C8102E;
}
.dropdown-menu .man-city-link:hover{
    background-color:#6CADDF;
    border-color:#6CADDF;
}
.dropdown-menu .man-united-link:hover{
    background-color:#da020e;
    border-color:#da020e;
}
.dropdown-menu .newcastle-link:hover{
    background-color:#241F20;
    border-color:#241F20;
}
.dropdown-menu .norwhich-link:hover{
    background-color:#00A650;
    border-color:#00A650;
}
.dropdown-menu .sheffield-link:hover{
    background-color:#EE2737;
    border-color:#EE2737;
}
.dropdown-menu .southampton-link:hover{
    background-color:#D71920;
    border-color:#D71920;
}
.dropdown-menu .tottenham-link:hover{
    background-color:#132257;
    border-color:#132257;
}
.dropdown-menu .watford-link:hover{
    background-color:#11210C;
    border-color:#11210C;
}
.dropdown-menu .west-ham-link:hover{
    background-color:#7A263A;
    border-color:#7A263A;
}
.dropdown-menu .wolverhampton-link:hover{
    background-color:#FDB913;
    border-color:#FDB913;
}
/*--Jumbotron--*/
.jumbotron{
    padding: 10px 20px;
    margin-bottom: 0;
    margin-top: 40px;

}
.jumbotron-team{
    padding: 10px 20px;
    margin-bottom: 0;
    margin-top: 40px;
    display:flex;
    align-items:center;
}
.jumbotron .container{
display: flex;
justify-content: flex-end
}

.jumbotron img{
    width:100px;
}
.jumbotron p{
    font-size: 21px;
    font-weight: 400;
}
.jumbotron-team h2{
    margin-left: 40px;
    font-size: 55px; 
}

/*---Main Page Content----*/
.hero-image{
width:100%;
height:85%;
}
.content div{
padding-left:0;
padding-right:0;
}


/*--Landing-page--*/
.card-row{
    margin-top:50px;
}
.card-img-top{
    width:309px;
    height:180px;
}
.card{
    display: inline-block;
}

.card-title {
text-align: center;
font-size: 21px !important;
color:#fff;
}
.card-arsenal{
    background-color:  #ef0107;
}
.card-aston-villa{
    background-color:  #7A003C;
}
.card-bournemouth{
    background-color:  #DA291C;
}
.card-brighton{
    background-color:  #005daa;
}
.card-burnley{
    background-color:  #f8b319;
}
.card-chelsea{
    background-color:  #034694;
}
.card-crystal-palace{
    background-color:  #a7a5a6;
}
.card-everton{
    background-color:  #003399;
}
.card-leicester{
    background-color:  #0053a0;
}
.card-liverpool{
    background-color:  #C8102E;
}
.card-manchester-city{
    background-color:  #6CADDF;
}
.card-manchester-united{
    background-color:  #da020e;
}
.card-newcastle{
    background-color:  #241F20;
}
.card-norwhich{
    background-color:  #00A650;
}
.card-sheffield{
    background-color:  #EE2737;
}
.card-southampton{
    background-color:  #D71920;
}
.card-tottenham{
    background-color:  #132257;
}
.card-watford{
    background-color:  #11210C;
}
.card-west-ham{
    background-color:  #7A263A;
}
.card-wolverhampton{
    background-color:  #FDB913;
}
.club-badge{
    width:100px;
    height:110px;
    left: 100px;
    position: absolute;
    z-index: 1;
    bottom: 55px;
}
.trophy{
    width:130px;
}
.number{
    border-radius: 10px;
    background-color: #3d195b;
    display: inline-block;
    font-size: 60px;
    color: white;
    width: 90px;
    height: 90px;
    text-align: center;
}
].number p{
    margin-top: -4px;
}
.container-fluid h4{
    margin-top: 30px;
}
.team-details .container-fluid{
margin-top: 40px;
}
.team-details p{
    margin-right:100px;
}
.main-heading{
    font-size:45px;
}
.team-details p{
    font-size: 20px;
}

.stadium{
    width:600px;
}
.table{
    color: white;
    background-color: #3d195b;
    margin-top: 50px;
}