/*------Main-----*/
/*------NavBar-----*/
nav a, nav h2{
    color:#fff !important;
}
.navbar-default{
    background-color: #3d195b;
    border-color:#3d195b;
}
.navbar .container-fluid{
    justify-content: flex-end !important;
}
.logo{
    width:100px;

}
.navbar-brand h2{
    font-size: 35px;
}
.navbar-brand img{
    margin-top: -10px;
    margin-right: 10px;
}
.nav-item{
    padding: 0 10px;
}
.navbar-nav a{
    font-size: 17px;
}
.navbar-brand img, .navbar-brand h2{
    display: inline-block;
}
.dropdown-menu{
    background-color:#3d195b;
    border-color:#3d195b;
}
.dropdown-menu a:hover{
    background-color:#000000;
    border-color:#000000;
}
.dropdown{
        padding-top: 8px;

}
/*---Main Page Content----*/
.card-row{
    margin-top:50px;
}
.card-img-top{
    width:309px;
    height:180px;
}
.card{
    display: inline-block;
}

.card-title {
text-align: center;
font-size: 21px !important;
color:#fff;
}
.card-arsenal{
    background-color:  #ef0107;
}
.card-aston-villa{
    background-color:  #7A003C;
}
.card-bournemouth{
    background-color:  #DA291C;
}
.card-brighton{
    background-color:  #005daa;
}
.card-burnley{
    background-color:  #f8b319;
}
.card-chelsea{
    background-color:  #034694;
}
.card-crystal-palace{
    background-color:  #a7a5a6;
}
.card-everton{
    background-color:  #003399;
}
.card-leicester{
    background-color:  #0053a0;
}
.card-liverpool{
    background-color:  #C8102E;
}
.card-manchester-city{
    background-color:  #6CADDF;
}
.card-manchester-united{
    background-color:  #da020e;
}
.card-newcastle{
    background-color:  #241F20;
}
.card-norwhich{
    background-color:  #00A650;
}
.card-sheffield{
    background-color:  #EE2737;
}
.card-southampton{
    background-color:  #D71920;
}
.card-tottenham{
    background-color:  #132257;
}
.card-watford{
    background-color:  #11210C;
}
.card-west-ham{
    background-color:  #7A263A;
}
.card-wolverhampton{
    background-color:  #FDB913;
}
.club-badge{
    width:100px;
    height:110px;
    left: 100px;
    position: absolute;
    z-index: 1;
    bottom: 55px;
}