{% extends 'base.html'%} {% block content %}
        <!--Jumbotron-->

        <div class="row justify-content-center no-gutters">
            <div class=" col-sm-12 col-md-8">
                <div class="jumbotron ">
                    <h3 class="lead">Add New Player</h3>
                    
                </div>
                <h3>Add New Player</h3>
            </div>
        </div>
        
        <div class="row justify-content-center no-gutters">
            
                
                <form class="col-md-8" action="{{ url_for('insert_player') }}" method="POST">

                        <div class="col-md-8 form-row align-items-center">
                            <div class="col-auto my-1">
                            <select class="custom-select mr-sm-2" id="choose-club" name="club">
                                <option value="" disabled selected><span class="flaticon-club"></span>Choose Club</option>
                                {% for cat in clubs %}
                                <option value="{{ cat.club_name}}">{{ cat.club_name }}</option>
                                {% endfor %}
                            </select>
                            </div>
                        ~</div>
                        <div class="col-md-8 form-group">
                            <label for="club-name"><span class="flaticon-name"></span>Players Name</label>
                            <input id="player-name" name="name" type="text" value="" class="validate" placeholder="Full Name">
                        </div>
                        
                        <div class="col-md-8 form-group">
                            <label for="club-name"><i class="flaticon-soccer"></i>Players Position</label>
                            <input id="player-position" name="position" type="text" value="" class="validate" placeholder="position">
                        </div>

                        <div class="col-md-8 form-group">
                            <label for="club-name"><span class="flaticon-europe"></span>Players Nationality</label>
                            <input id="player-nationality" name="nationality" type="text" value="" class="validate" placeholder="Naitonality">
                        </div>
                        <div class="col-md-8 form-group">
                            <label for="club-name"><span class="flaticon-number"></span>Players Shirt Number</label>
                            <input id="player-number" name="number" type="text" value="" class="validate" placeholder="Shirt Number">

                        </div>
                       <button class="btn btn-primary" type="submit" name="action">Submit</button> 
                </form> 
                
            </div>

{% endblock %}