{% extends 'base.html'%} {% block content %}
        <!--Jumbotron-->

        <div class="row justify-content-center no-gutters">
            <div class=" col-sm-12 col-md-8">
                <div class="jumbotron ">
                    <h3 >Add New Player</h3>
                    <p> Fill in all the information below and click subit to add a new player. Makes sure to fill in all the boxes befor submiting</p>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center no-gutters add-player">
            
                
                <form class="col-md-8" action="{{ url_for('insert_player') }}" method="POST">

                        <div class="col-md-8 form-row align-items-center">
                            <div class="col-auto my-1">
                            <i class="far fa-futbol"></i>
                            <select class="custom-select mr-sm-2" id="choose-club" name="club">
                                <option value="" disabled selected>Choose Club</option>
                                {% for cat in clubs %}
                                <option value="{{ cat.club_name}}">{{ cat.club_name }}</option>
                                {% endfor %}
                            </select>
                            </div>
                        </div>
                        <div class="col-md-8 form-group">
                            
                            <input id="player-name" name="name" type="text" value="" class="validate"  required>
                            <label class="label" for="player-name"><span class="label-content"><i class="far fa-address-card"></i>Players Name</span></label>
                        </div>
                        
                        <div class="col-md-8 form-group">
                            
                            <input id="player-position" name="position" type="text" value="" class="validate"  required>
                            <label class="label" for="player-position"><span class="label-content"><i class="fas fa-arrows-alt"></i>Players Position</span></label>
                        </div>

                        <div class="col-md-8 form-group">
                            
                            <input id="player-nationality" name="nationality" type="text" value="" class="validate"  required>
                            <label class="label" for="player-nationality"><span class="label-content"><i class="far fa-flag"></i>Players Nationality</span></label>
                        </div>
                        <div class="col-md-8 form-group">
                            
                            <input id="player-number" name="number" type="text" value="" class="validate"  required>
                            <label class="label" for="player-number"><span class="label-content"><i class="fas fa-tshirt"></i>Players Shirt Number</span></label>
                        </div>
                       <button class="btn btn-primary" type="submit" name="action">Submit</button> 
                </form> 
                
            </div>

{% endblock %}