<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
        <title>Home</title>
    </head>
    <body>
    <!--Navbar-->
        <nav class="navbar navbar-expand-xl navbar-default sticky-top">
            <a href="" class="navbar-brand"><img class="logo" src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_auto,h_320,q_auto,w_640,z_1.0/v1/logos/leagues/Premier_League_logo_transparent" alt="premier league"><h2>Premier League</h2></a>
            <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <!--All Teams Dropdown -->
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clubs<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" class="dropdown-item arsenal-link">Arsenal</a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item aston-villa-link">Aston Villa</a>
                        </li><li>
                            <a href="#" class="dropdown-item bournemouth-link">Bournemouth</a>
                        </li><li>
                            <a href="#" class="dropdown-item brighton-link">Brighton</a>
                        </li><li>
                            <a href="#" class="dropdown-item burnley-link">Burnley</a>
                        </li><li>
                            <a href="#" class="dropdown-item chelsea-link">Chelsea</a>
                        </li><li>
                            <a href="#" class="dropdown-item crystal-palace-link">Crystal Palace</a>
                        </li><li>
                            <a href="#" class="dropdown-item everton-link">Everton</a>
                        </li><li>
                            <a href="#" class="dropdown-item leicester-link">Leicester</a>
                        </li><li>
                            <a href="#" class="dropdown-item liverpool-link">Liverpool</a>
                        </li><li>
                            <a href="#" class="dropdown-item man-city-link">Man City</a>
                        </li><li>
                            <a href="#" class="dropdown-item man-united-link">Man Utd</a>
                        </li><li>
                            <a href="#" class="dropdown-item newcastle-link">Newcastle</a>
                        </li><li>
                            <a href="#" class="dropdown-item norwhich-link">Norwich</a>
                        </li><li>
                            <a href="#" class="dropdown-item sheffield-link">Sheffield</a>
                        </li><li>
                            <a href="#" class="dropdown-item southampton-link">Southampton</a>
                        </li><li>
                            <a href="#" class="dropdown-item tottenham-link">Spurs</a>
                        </li><li>
                            <a href="#" class="dropdown-item watford-link">Watford</a>
                        </li><li>
                            <a href="#" class="dropdown-item west-ham-link">West Ham</a>
                        </li><li>
                            <a href="#" class="dropdown-item wolverhampton-link">Wolves</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Add Club</a>
                </li>
            </div>
        </nav>
        <!--Jumbotron-->

        <div class="row justify-content-center no-gutters">
            <div class=" col-sm-12 col-md-8">
                <div class="jumbotron ">
                    <h3 class="lead">Add New Player</h3>
                </div>
            </div>
        </div>

        <div class="row justify-content-center no-gutters">
            <div class="col-sm-12 col-md-8">
                <h3>Edit Club</h3>
                <form action="{{ url_for('insert_player') }}" method="POST">
                
                        <div class="form-group">
                            <label for="club-name">Choose The Players Club</label>
                            
                            <p>{{player.club}}</p>
                           
                            <h3>Enter New Details:</h3>
                            <input id="player-club" name="player_club" type="text" value="" class="validate" placeholder="Club">
                        </div>

                        <div class="form-group">
                            <label for="club-name">Players Name</label>
                            
                            <p>{{player.name}}</p>
                           
                            <h3>Enter New Details:</h3>
                            <input id="player-name" name="player_name" type="text" value="" class="validate" placeholder="Full Name">
                        </div>
                        
                        <div class="form-group">
                            <label for="club-name">Players Position</label>
                            
                            <p>{{player.position}}</p>
                           
                            <h3>Enter New Details:</h3>
                            <input id="player-position" name="player_position" type="text" value="" class="validate" placeholder="position">
                        </div>
                        <div class="form-group">
                            <label for="club-name">Players Nationality</label>
                            
                            <p>{{player.nationality}}</p>
                           
                            <h3>Enter New Details:</h3>
                            <input id="player-nationality" name="player_nationality" type="text" value="" class="validate" placeholder="Naitonality">
                        </div>
                        <div class="form-group">
                            <label for="club-name">Players Shirt Number</label>
                            
                            <p>{{player.number}}</p>
                           
                            <h3>Enter New Details:</h3>
                            <input id="player-number" name="player_number" type="text" value="" class="validate" placeholder="Shirt Number">

                        </div>
                       <button class="btn btn-primary" type="submit" name="action">Submit</button> 
                </form> 
                </div>
            </div>


        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>

    </body>
</html>