{% extends 'base.html'%}
{% block content %}
<!--Jumbotron-->

        <div class="row justify-content-center no-gutters">
        <div class=" col-sm-12 col-md-8">
            <div class="jumbotron jumbotron-team">
                <img src="{{url_for('static', filename='img/logo/arsenal-logo.png')}}">
                <h2>Arsenal</h2>
                <div class="container">
                <h2 >"The Gunners"</h2>
                </div>
            </div>
        </div>
        </div>
        <!--Club About Page-->
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8">
            <img class="hero-image" src="{{url_for('static', filename='img/hero/arsenal-hero.jpg')}}">
            </div>
        </div>

{% endblock %}