{% extends 'base.html'%} {% block content %}
        <!--Jumbotron-->
        {% for detail in details %}
         <div class="row justify-content-center no-gutters">
        <div class=" col-sm-12 col-md-8">
            <div class="jumbotron jumbotron-team">
                <img src="{{ detail.logo }}">
                <h2>Edit {{ detail.club }} Details</h2>

            </div>
        </div>
        </div>
        {% endfor %}
        <div class="row justify-content-center no-gutters">
            <div class="col-sm-12 col-md-8">
                <h3>Edit Club</h3>
                <form action="{{ url_for('update_club', club_id=club._id) }}" method="POST">
                    <div class="dropdown">
                        <div class="form-group">
                            <label for="sel1">Select list:</label>
                            <select class="form-control" id="category" name="category_type">

                             {% for cat in categories %}
                                <option value="{{ cat.category_name }}" selected>{{ cat.category_name.replace('_',' ') }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        </div>
                        {% for detail in details %}
                        
                        {% if detail.club_id == cat.category_name %}
                         <div class="input-field col s12">
                            <input id="{{ cat.category_name}}" name="{{cat.category_name}}" type="text" class="validate" value="{{cat.category_name}}">
                            <label for="icon_prefix">{{ cat.category_name.replace('_',' ') }}</label>
                        </div>
                        {% else %}
                    {% endif %}
                    {% endfor %}
                    <div class="submit">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            
            </div>
        </div>
{% endblock %}